.carousel-container {
  /* width: 100%;
  max-width: 90vw;
  height: 90vh;
  margin: 0 auto;
  position: relative;
  margin-left: 100px;
  margin-right: 100px;
  min-height: 880px; */
  height: 90vh;
  margin:
0 100px;
  max-width: 86vw;
  min-height: 880px;
  position: relative;
  width: 100%;
}

.carousel-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  border: 40px;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius:40px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.8s ease-in-out;
  z-index: -1;
  -webkit-border-radius:40px;
  -moz-border-radius:40px;
  -ms-border-radius:40px;
  -o-border-radius:40px;
}

.carousel-image.active {
  opacity: 1;
  z-index: 1;
}

.carousel-control {
  background: white;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  z-index: 2;
  opacity: 0.8;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.carousel-control:hover {
  background: #ab0000;
  color: #ab0000;
  border: none;
  border-radius: 50%;
  /* padding: 10px 15px; */
  /* font-size: 24px; */
  cursor: pointer;
  z-index: 2;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.carousel-control:hover i{
  color: #fff;
}
.control-icon {
  color: black;
  align-items: center;
  
}
.control-icon:hover{
  color: white;
}
.right-arrow:hover {
  color: white;
}

.left-arrow {
  left: -0.5px;
}
.left-arrow:hover{
  color: #ab0000;
  transition:all  0.8sec ease-in-out;
  box-shadow: #ab01018a 0 0 4px 1px;
}
.right-arrow:hover{
  color: #ab0000;
  transition:all  0.8sec ease-in-out;
  box-shadow: #ab01018a 0 0 4px 1px;
  /* font-size: 20px;  */
  font-weight: 300;
}

.right-arrow {
  right: -0.5px;
}

.carousel-control:focus {
  outline: none;
}
.carousel-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-fit: contain;

  border-radius: 40px;
}
@media(min-width:767px){
  .hero-container .hero-wrapper {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .carousel-container {
    min-height: 930px;
  }
  .carousel-text h1 {
    font-size: 48px !important;
    margin-top: 5vh !important;
}
.carousel-text p {
  font-size: 20px !important;
  
}
.carousel-footer{
  margin-top: 7vh !important;
}
.carousel-container{
  margin: 0 !important;
  padding: 0 !important;
  max-width: 100% !important;
}
  
.carousel-container.py-3 {
  padding: 0 !important;
}
.carousel-container img {
  border-radius: 25px !important;
  margin-top: -3px;
}
}
.carousel-wrapper {
  position: relative;
}

/* .carousel-image::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(90deg, #00445761 0%, #004457e8 100%);
  height: 100%;
  z-index: 1;
  border-radius: 40px;
  overflow: hidden;
} */


.carousel-text {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  color: white;
  opacity: 1;
  z-index: 2;
}

.carousel-text span {
  font-size: 20px;
  font-weight: 600;
  line-height: 121.4%;
  display: block
}

.carousel-text h1 {
  font-size: 60px;
  line-height: 75px;
  width: 60%;
 margin-top: 3vw;
 text-transform: capitalize;
}
.carousel-text p {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
  width: 51%;
}

.carousel-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: 36px;
  gap: 0;
  gap: 17px;
}

/* animation css */
.animate__animated {
  animation-duration: 2s;
}

.animate__fadeInRight {
  animation-name: fadeInRight;
}

.carousel-control {
  height: 40px;
  width: 40px;
  padding: 0;
  font-size: 15px;
}
.left-arrow {
  left: 38px !important;
}
.right-arrow {
  right: 38px;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate__fadeInUpBig {
  animation-duration: 2s;
  animation-delay: 0.2s; 
}
.animate__pulse {
  animation-duration: 1.5s;
  animation-delay: 0.3s; 
}
.about-us-butn.crausal_lorem {
  padding: 9px !important;
}

.carousel-container > .carousel-control {
  height: 48px;
  width: 48px;
  font-size: 19px;
  color: #000000ad;
}
@media(max-width:767px){
  .carousel-text {
    position: absolute;
    top: 47%;
    left: 16px;
  }
  .about-us-butn.crausal_lorem {
    padding: 9px !important;
    display: inline-block;
    margin-bottom: 0 !important;
  }
  .carousel-text h1 {
    font-size: 40px !important;
    margin-top: 10px !important;
    width: 100% !important;
    line-height: 66px !important;
  }
  .carousel-footer {
    margin-top: 0 !important;
    flex-direction: column-reverse;
    align-items: flex-start !important;
  }
  .carousel-text p {
    width: 100%;
    font-size: 18px !important;
  }
}

/* @media(max-width:1600px){
.carousel-container > .carousel-control.left-arrow {
  margin-left: 14px;
}
.carousel-container > .carousel-control.right-arrow {
  margin-right: 14px;
}
} */

/* @media(min-width:1560px){
  .carousel-container > .carousel-control.left-arrow {
    margin-left: 24px;
  }
  .carousel-container > .carousel-control.right-arrow {
    margin-right: 24px;
  }
} */

@media(max-width:1500px){
  .left-arrow {
    left: 11px !important;
  }
  .right-arrow{
    right: 11px;
  }
}
@media(max-width:1560px) and (min-width:1500px){
  .left-arrow {
    left: 28px !important;
  }
  .right-arrow{
    right: 28px;
  }
}
@media(max-width:1300px){
  .carousel-container > .carousel-control {
    height: 40px;
    width: 40px;
}
}

@media(max-width:1150px){
  .left-arrow {
    left: 10px !important;
  }
  .right-arrow{
    right: 10px;
  }
  .carousel-container > .carousel-control {
    height: 32px;
    width: 32px;
}
}

@media(max-width:767px){
  .carousel-image img {
    object-fit: cover;
  }
}