.about-us-butn{
  
    border-radius: 100px;
    border: 0;
    color: var(--secondary-color);
    font-size: 18px;
    line-height: 16px;
    font-weight: 400;
    transition: all 1s ease;
  }
  .about-title {
    font-size: 30px;
    font-weight: bold;
    color: #004466;
}
.about-description {
    font-size: 14px;
}
.make_appoint_btn img {
    max-height: 20px; 
    transform: translate(0, 0);
    opacity: 1;
    transition: all .5s ease;
  }
  
  .make_appoint_btn:hover {
    background-color: var(--secondary-color);
    color: white;
  }
  
  .make_appoint_btn:hover img {
    transform: translate(
      calc(16px * cos(45deg)),
      calc(-13px * sin(45deg))
    ) !important;
    opacity: 0;
  }
  .make_appoint_btn {
    height: 40px;
    width: 174px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 100px;
    background-color: var(--primary-color);
    border: 0;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    transition: all 1s ease;
  }

  .about-play-butn{
    border-radius: 50%;
    margin-left: -1.6rem;
    margin-top: -2.4rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.about-play-butn img{
width: 35px;
height: 35px;
}
.about-play-butn {
  padding: 0 !important;
  height: 50px;
  width: 50px;
}

@media(max-width:700px){
  .about_text_sextion {
    text-align: center;
  }
  .about_text_sextion .about-us-butn {
    padding: 8px 16px !important;
    font-size: 14px !important;
    margin-bottom: 20px !important;
    box-shadow: none !important;
  }
  .about_text_sextion .about-title.mb-1 {
    font-size: 28px;
    margin-bottom: 15px !important;
  }
  .about-section {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .about_text_sextion .about-description b {
    font-size: 20px;
    font-weight: 600;
  }
  .about_dis_text {
    font-size: 14px !important;
    line-height: 20px;
  }
  .make_appoint_btn {
    margin: auto;
  
    margin-bottom: 50px;
    margin-top: 34px !important;
    font-size: 12px !important;
  }
  .about-play-butn {
    position: absolute;
    bottom: -8px;
    left: 19px;
  }
  .about-section {
    padding: 0 !important;
  }
}

@media(min-width:700px){
  .about_text_sextion {
    /* padding-top: 46px; */
    
    padding-right: 56px !important;
  }
  .about-section {
  align-items: center;
}
  .about_text_sextion .about-us-butn {
    height: 30px;
    width: 90px;
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px !important;
    line-height: 20px !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    box-shadow: none !important;
    margin-bottom: 28px !important;
  }
  .about_text_sextion .about-title {
    font-size: 32px;
    font-weight: 700;
    color: #004466;
    font-family: Koh Santepheap;
    margin-bottom: 15px !important;
  }
  .about-description.bold_text {
    margin-bottom: 7px !important;
  }
  .text-dark.about_dis_text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 46px !important;
  }
  
}
.about-play-butn {
  height: 50px;
  width: 50px;
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  position: absolute;
  bottom: 3px;
  left: 0;
}
.about-main:hover  + .about-play-butn{
  bottom: 4px;
  left: -3px;
}
.about-section {
  margin-bottom: 73px;
}
.about-main{
  flex: 1;
  position: relative;
  overflow: hidden;
  border-radius: 10% !important;
  -webkit-border-radius: 10% !important;
  -moz-border-radius: 10% !important;
  -ms-border-radius: 10% !important;
  -o-border-radius: 10% !important;
}
.about-main:hover{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
}
.about-image{
  width: 100%;
  height: 100% !important;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.about-image:hover{
  scale: 1.04;
  transition: all 0.53s ease;
  height: 100%;
  width: 100% !important;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}
.about-description.bold_text {
  font-size: 18px;
}

.about_image_2 {
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease !important;
}
.about_image_1{
  transition: all .5s ease !important;

}
.about-main:hover {
  box-shadow: none !important;
}
.about-main .about-image{
  position: absolute;
}
.about-main:hover .about-image.about_image_1 {
  opacity: 0;
  visibility: hidden;
}
.about-main:hover .about-image.about_image_2 {
  opacity: 1;
  visibility: visible;
  scale: 1;
  animation: bounceImage .5s ease-in-out ;

}

@keyframes bounceImage {
  0%{
   transform: scale(1);
  }50%{
   transform: scale(1.1);
    
  }
  100%{
    transform: scale(1);
     
   }
  
}

.about-play-butn svg mask {
  mask-type: alpha;
}
.about-play-butn {
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
}
.about-main:hover + .about-play-butn {
height: 80px !important;
width: 80px !important;

}
/* .about-main:hover + .about-play-butn svg {
  width: 50px !important;
  height: 50px;
} */
.about-main + .about-play-butn .svg_2,.about-main + .about-play-butn .svg_1{
  position: absolute;
}
.about-main + .about-play-butn .svg_2{
 opacity: 0;
 visibility: hidden;
}
.about-play-butn{
  background: #fff;
}

/* .about-main:hover + .about-play-butn {
  background-color: rgb(171, 0, 0) !important;
} */
.about-main:hover + .about-play-butn .svg_1{
  opacity: 0;
  visibility: hidden;
}
/* .about-main + .about-play-butn .svg_1{
  animation: bounceImagebtnBack 1s ease-in ;
} */
.about-main  + .about-play-butn.backDropTransition{
  animation: bounceImagebtnBack .5s ease-in ;

}


.about-main:hover + .about-play-butn .svg_2{
  opacity: 1;
  visibility: visible;
  animation: bounceImagebtn .5s ease-in ;
  transition: all .5s ease;

}


@media(max-width:767px){
  .home_expericecard .why-feature{
    margin: 8px auto !important ;
  }
}

.about-main:hover + .new_button_added  svg#Layer_1 {
  height: 80px !important;
  width: 80px !important;
  animation: bounceImagebtn .5s ease-in ;

}

@keyframes bounceImagebtn {
  0%{
    transform: scale(1);
    opacity: 0;
   }50%{
    transform: scale(1.1);
    opacity: .75;
     
   }
   100%{
     transform: scale(1);
     opacity: 1;
      
    }
  }

.about-main:hover + .new_button_added svg#Layer_1 .st0 {
  fill: #ab0000;
}
.about-main:hover + .new_button_added svg#Layer_1 path {
  fill: #fff;
}
.backDropTransitionTOImage{
  animation: bounceImageBack .5s ease-in-out ;
}
@keyframes bounceImageBack {
  0%{
   transform: scale(1);
  }25%{
   transform: scale(.9.3);
    
  }50%{
    transform: scale(.95)}
    50%{
      transform: scale(.9.3)}
  100%{
    transform: scale(1);
     
   }
  
}





.new_button_added.backDropTransition path{
  animation: bounceImagebtnBackChangeColorPath .5s ease-in;

}


@keyframes bounceImagebtnBackChangeColorPath {
  0%{

    fill: #ffffff67;

 
   
   }33%{
    fill: #ab000031;
  

     
   }
   /* 75%{
    transform: scale(1.2);
    background: #ffffff93 ;
    border-radius: 100px;

     
   } */
   66%{
    fill: #ab000094;

  }
    
   100%{
  
     fill:#ab0000;

      
    }
}


.new_button_added.backDropTransition .st0 {
  animation: bounceImagebtnBackChangeColor .5s ease-in;
}




@keyframes bounceImagebtnBackChangeColor {
  0%{

    fill: #ab0000;
 
   
   }33%{
    fill: #ab000031;
  

     
   }
   /* 75%{
    transform: scale(1.2);
    background: #ffffff93 ;
    border-radius: 100px;

     
   } */
   66%{
    fill: #ffffff67;

  }
    
   100%{
  
     fill: #fff;

      
    }
}



@keyframes bounceImagebtnBack {
  0%{
    transform: scale(1.2);
    opacity: .5;
    background: #ab0000;
 
   
   }33%{
    transform: scale(.9);
    background: #ab000031;
  

     
   }
   /* 75%{
    transform: scale(1.2);
    background: #ffffff93 ;
    border-radius: 100px;

     
   } */
   66%{
    transform: scale(1.1);
    background: #ffffff67;

  }
    
   100%{
     transform: scale(1);
     opacity: 1;
     background: #ffffff67;

      
    }
}