.about-us-butn{
    border-radius: 100px;
    border: 0;
    color: var(--secondary-color);
    font-size: 18px;
    line-height: 16px;
    font-weight: 400;
    transition: all 1s ease;
  }
  .about-title {
    font-size: 30px;
    font-weight: bold;
    color: #004466;
}
.service-section{
    background-color: var(--bg-secondar-color);
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.service-card-container {
    width: 20rem;
    background-color: var(--bg-secondar-color);
}
.service-extendcard-container{
    width: 31rem;
    background-color: var(--bg-secondar-color);
}

.service-card-image {
   
    height: 200px;
    object-fit: cover;
    border-radius: 24px;
}

.service-content-area {
    background: white;
    border-radius: 0px 0 24px 24px;
    position: relative;
    padding: 24px 0;
    -webkit-border-radius: 0px 0 24px 24px;
    -moz-border-radius: 0px 0 24px 24px;
    -ms-border-radius: 0px 0 24px 24px;
    -o-border-radius: 0px 0 24px 24px;
}

.service-info-column {
    width: 90%;
    padding-left: 24px;
    padding-right: 20px;
}



.service-icon-column {
    width: 10%;
    position: relative;
}
.service-circle {
    position: absolute;
    top: 100%;
    margin-top: 2.5vh;
    margin-left: -1vh;
    width: 150px;
    border-radius: 12px 0px 0px 0px;
    height: 80px;
    background-color: var(--bg-secondar-color);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 12px 0px 0px 0px;
    -moz-border-radius: 12px 0px 0px 0px;
    -ms-border-radius: 12px 0px 0px 0px;
    -o-border-radius: 12px 0px 0px 0px;
}

.service-circle-icon {
    position: absolute;
    left: -0.5px;
    margin-left: 2px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-arrow-icon {
    color: black;
    width: 20px;
    height: 20px;
}

.service-row-custom {
    display: flex;
    align-items: center;
    margin: 0;
}
/* .service-bg{
    background-image: url(./image/Frame\ 55.svg);
} */
.service-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--bg-secondar-color)
}



