.about-us-butn {
  border-radius: 100px;
  border: 0;
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 16px;
  font-weight: 400;
  transition: all 1s ease;
}

.about-title {
  font-size: 30px;
  font-weight: bold;
  color: #004466;
}

.service-section {
  background-color: var(--bg-secondar-color);
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.service-card-container {
  width: 100%;
  background-color: var(--bg-secondar-color);
  margin-bottom: 25px;
}

.service-extendcard-container {
  /* width: 31rem; */
  width: 100%;

  background-color: var(--bg-secondar-color);
}

.service-card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 26px;
}

.service-content-area {
  background: white;
  border-radius: 0px 0 24px 24px;
  position: relative;
  padding: 24px 0;
  -webkit-border-radius: 0px 0 24px 24px;
  -moz-border-radius: 0px 0 24px 24px;
  -ms-border-radius: 0px 0 24px 24px;
  -o-border-radius: 0px 0 24px 24px;
}

.service-info-column {
  width: 90%;
  padding-left: 24px;
  padding-right: 20px;
}



.service-icon-column {
  width: 10%;
  position: relative;
}

.service-circle {
  position: absolute;
  top: 100%;
  margin-top: 2.5vh;
  margin-left: -1vh;
  width: 150px;
  border-radius: 12px 0px 0px 0px;
  height: 80px;
  background-color: var(--bg-secondar-color);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 12px 0px 0px 0px;
  -moz-border-radius: 12px 0px 0px 0px;
  -ms-border-radius: 12px 0px 0px 0px;
  -o-border-radius: 12px 0px 0px 0px;
}

.service-circle-icon {
  position: absolute;
  left: -0.5px;
  margin-left: 2px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-arrow-icon {
  color: black;
  width: 20px;
  height: 20px;
}

.service-row-custom {
  display: flex;
  align-items: center;
  margin: 0;
}

/* .service-bg{
    background-image: url(/image/Frame\ 55.svg);
} */
.service-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--bg-secondar-color)
}


/* new one css */
.card {
  --main-color: #46BAC2;
  --sub-color: #46bac294;
  --bg-color: #c7c7c7;
  --accent-color: #004457;
  position: relative;
  width: 120%;
  border-radius: 2rem !important;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: var(--bg-color);
  transition: all 0.45s;
  cursor: pointer;
  box-shadow: 0px 0px 5px -1.5px #e2e2e2;
  -webkit-border-radius: 2rem !important;
  -moz-border-radius: 2rem !important;
  -ms-border-radius: 2rem !important;
  -o-border-radius: 2rem !important;
  -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
  -ms-transition: all 0.45s;
  -o-transition: all 0.45s;
}

.card::before {
  content: '';
  /* width: 99%; */
  height: 99%;
  background: var(--sub-color);
  position: absolute;
  z-index: -1;
  top: 1px;
  left: 1px;
  border-radius: 25px;
  transition: all 0.3s;
}

.card__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.card__img {
  width: 120%;
}

.card__title {
  color: #004466;
  font-weight: 600;
  font-size: 20px;
  line-height: 121.4%;
}

.card__title:hover {
  color: #ab0000;

}

.card__subtitle {
  color: black;
  font-weight: 300;
  font-size: 14px;
}

/* .card__icon {
    width: 40px;
    height: 40px;
    transform: rotate(-45deg);
  }
   */
.card__icon svg {
  width: 100%;
  height: 100%;
}

.card__icon g {
  fill: var(--main-color);
}

.card__icon circle,
polyline,
line {
  stroke: var(--main-color);
}

/*   
  .card:hover .card__icon {
    transform: rotate(0);
  } */

.card:hover .card__icon circle,
.card:hover .card__icon polyline,
.card:hover .card__icon line {
  stroke: var(--accent-color);
}

.card:hover .card__icon g {
  fill: var(--accent-color);
}

.card:hover {
  box-shadow: 0px 0px 20px -5px #f1f0f0;
}

.card:hover::before {
  transform: rotate(10deg);
  box-shadow: 0px 0px 20px -5px #f1f0f0;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
}

/* remove svg from class ="card__img" and last styles below css code before use */
.st1 {
  fill: #fff
}

.st2 {
  fill: none;
  stroke: #242c88;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10
}

.st7 {
  fill: #589fff
}

.st9 {
  fill: #bc8d66
}

.st15,
.st16 {
  opacity: .4;
  fill: #242c88
}

.st16 {
  opacity: .2
}

.st18 {
  fill: #ffc408
}

.st53 {
  fill: none;
  stroke: #242c88;
  stroke-width: 1.848;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10
}

.service-card-container .card {
  width: 100%;
}

.service-extendcard-container .card {
  width: 100%;
}

.service-card-container .card {
  background-color: transparent;
  z-index: 1;
  box-shadow: none;
  border: 0;
}

.service-card-container .card .bg_crad_img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 111%;
}

.card__title {
  margin-top: 15px;
  margin-bottom: 0;
}

.service-card-container .card .card__icon {
  position: absolute;
  right: 0px;
  bottom: -33px;
  height: 50px;
  width: 50px;
  background-color: #fff;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.service-card-container .card .card__icon i {
  rotate: 45deg;
  position: absolute;
  transition: all .5s ease;

}

.service-card-container .card:hover .service-card-image {
  scale: 1.2;
  transition: all .53s ease;
  width: 100% !important;
  height: 100%px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image_box_main {
  width: 100%;
  height: 200px;
  border-radius: 26px;
  overflow: hidden;
}

.service-card-container .card:hover .card__icon {
  background-color: #56c9cd;
}

.service-card-container .card:hover .card__icon .non_hover_icon {
  transform: translate(0, -45px);
}

.service-card-container .card .card__icon .hover_icon {
  transform: translate(0, 45px);
  font-size: 18px !important;
  color: #fff;
}

.service-card-container .card:hover .card__icon .hover_icon {
  transform: translate(0, 0px);
}

.service-section .about-us-butn {
  width: 83px;
  height: 30px;
  padding: 0 !important;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px !important;
  text-transform: uppercase !important;
}

.service-section.padding_section {
  padding-bottom: 80px !important;
  padding-top: 80px !important;
}
@media(max-width:700px) {
  .service-section.py-5 {
    margin: 50px 0 !important;
    padding-top: 83px !important;
    padding-bottom: 85px !important;  
  }
  .service-extendcard-container.service-card-container .bg_crad_img {
    display: none;
  }
  .service-extendcard-container.service-card-container .bg_crad_img.mobile_view_bg {
    display: block !important;
  }
  .service-card-container .card .card__icon {
    /* right: -8px;
    bottom: -30px; */
    right: -3px;
    bottom: -31px;
  }
  .service-section.py-5.header_containter {
    max-width: 100% !important;
    /* border-radius: 0; */
  }
}


@media(max-width:1200px) and (min-width:992px){
  .service-card-container.bottom_btn .card .card__icon {
    position: absolute;
    /* right: 11px; */
    /* bottom: -32px; */
  }
  .service-extendcard-container .card__icon {
    /* right: -12px !important; */
    bottom: -29px !important;
  }
}
@media(max-width:1150px) and (min-width:992px){
 
  .service-extendcard-container .card__icon {
    right: -10px !important;
  }
}
@media(max-width:992px){
  
  .service-extendcard-container  {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
  }

  .service-extendcard-container.service-card-container .bg_crad_img {
    display: none;
  }
  .service-extendcard-container.service-card-container .bg_crad_img.mobile_view_bg {
    display: block !important;
  }
}

.service-card-container.bottom_btn {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.service-card-container.service_cutPiece_bottom .card__icon.new_btn_animation i {
  animation : goDown45 .4s linear;
  color: #000 !important;

}
.service-card-container.service_cutPiece_bottom .card:hover .card__icon.new_btn_animation i {
  animation: goUp45 .4s linear;
  color: #fff !important;
}