.healthcare-navbar {
    background-color: white; 
    /* border-radius: 8px; */
   
    /* box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); */
    /* margin-left: 100px; */
    /* margin-right: 100px; */
    border-radius: 20px;
  box-shadow: #00000057 0 0 6px 1px;
  }
  
  .brand {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 170px;
    height: 60px;
    margin-right: 0;
  }
  
  .brand-text {
    font-weight: bold;
    color: var(--primary-color); 
    font-size: 20px;
  }
  
  .brand.navbar-brand {
    padding-top: 2px;
    padding-bottom: 2px;
  }
 
 .menu-items .nav-link{
    cursor: pointer;
    border-bottom: 5px;
    font-size: 14px;
    line-height: 16.8px;
    color: #000;
    font-weight: 500;
}
.menu-items .nav-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: width .8s;
    border-radius: 2px;
    -webkit-transition: width .8s;
    -moz-transition: width .8s;
    -ms-transition: width .8s;
    -o-transition: width .8s;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.menu-items .nav-link:hover::after{
    width: 100%;
    border-bottom-color: var(--primary-color) !important;
}
  
  .search-form {
    /* margin-right: 15px; */
  }
  
  .search-box {
    display: flex;
    align-items: center;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    overflow: hidden;
    /* width: 15.5vw; */
    width: 166px;
  height: 40px;
  position: relative;

  }
  
  .search-input {
    border: none;
    padding: 5px 10px;
    outline: none;
    width: calc(100% - 32px);
 
  }

  .search-button {
    position: absolute;
    right: 0;
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-button:hover{
    background-color: #0f4e60 !important;
    transition: all .5s ease;

  }
  .make_appoint_btn:hover {
    background-color: #0f4e60 !important;
    color: white;
  }
  .make_appoint_btn img {
    max-height: 20px; 
    transform: translate(0, 0);
    opacity: 1;
    transition: all 1s ease;
  }
  
  .make_appoint_btn:hover {
    background-color: var(--secondary-color);
    color: white;
  }
  
  .make_appoint_btn:hover img {
    transform: translate(
      calc(16px * cos(45deg)),
      calc(-13px * sin(45deg))
    ) !important;
    opacity: 0;
  }
  .make_appoint_btn {
    height: 40px;
    width: 174px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 100px;
    background-color: var(--primary-color);
    border: 0;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    transition: all 1s ease;
  }
  
  .search-button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    padding: 5px 10px;
  }
  
  .search-button:hover {
    background-color: #a82231; /* Darker red */
  }
  .navbar-divider {
    border-left: 2px solid var(--primary-color);
    height: 50px;
    margin: 0 20px;
  }
  
 
  

  .navbar-expand-lg .navbar-nav {
    gap: 4px;
  }
  .healthcare-navbar {
    margin-top: 6px !important;
  }

  .sicky_container {
    position: sticky;
    top: 0;
    z-index: 11;
  }


  .bg_transparent.sicky_container.container .healthcare-navbar  {
    background-color: #ffffff85;
    transition: all .5s ease;
    backdrop-filter: blur(8px);
    border-radius: 0 0 20px 20px;
  }
  .bg_transparent.sicky_container.container .healthcare-navbar  .search-input{
    background: transparent;
  }

  .off_canvas_triger {
    padding: 0;
    border-radius: 100px;
    background: transparent;
    border: 0;
    display: none;
  }

  @media(max-width:1100px){
    .contact-marquee-wrapper {
      padding-left: 0;
    }
    .marquee-font {
      font-size: 13px;
    }
    .social-icons {
        gap: 2px;
    }
    .make_appoint_btn{
      width: 162px;
      font-size: 13px;
    }
    .navbar-divider {
      margin: 0 14px;
    }
  }

  @media(max-width:1020px){
   
  }

  @media(max-width:992px){
    .off_canvas_triger{
      display: block;
    }
    #basic-navbar-nav {
      display: none !important;
    }
    .navbar-expand-lg {
      justify-content: space-between !important;
    }
    .navbar-divider.d-none.d-lg-block {
      display: none !important;
    }

    .offcanvas_meu .offcanvas-body .menu-items {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .offcanvas_meu .offcanvas-body .icon_box .contact-marquee-wrapper {
      flex-direction: column-reverse;
    }
    .offcanvas_meu .offcanvas-body .icon_box .contact-marquee-wrapper .contact-marquee-info {
      flex-direction: column;
      margin-bottom: 30px;
    }

    .offcanvas_meu .offcanvas-body .icon_box .contact-marquee-wrapper .contact-marquee-info .marquee-font {
      flex-direction: column;
      word-break: break-word;
    }
    #mobile_menu {
      background-color: #014558d6;
      border-radius: 30px;
    }
    .offcanvas_meu .offcanvas-header {
      padding-top: 50px;
    }
    .offcanvas_meu .offcanvas-header .btn-close {
      height: 40px;
      width: 40px;
      background: #fff;
      border-radius: 100px;
      padding: 0;
    }
    .offcanvas_meu .offcanvas-body {
      padding-top: 50px;
      overflow-y: auto;
    }
    .offcanvas_meu .offcanvas-body .nav-link {
      color: #fff;
      margin-bottom: 17px;
    }
    .offcanvas_meu .offcanvas-body .search-box {
      margin: auto;
      margin-bottom: 40px;
      margin-top: 25px;
      border-color: #fff;
      width: 170px;
    }
    .offcanvas_meu .offcanvas-body .search-box .search-input {
      background: transparent;
      color: #fff;
    }
    .offcanvas_meu .offcanvas-body .search-box .search-button {
      background-color: #fff !important;
      color: #004457;
    }
    .offcanvas_meu .offcanvas-body .social-icon-bg {
      background-color: #46BAC2 !important;
    }
    .offcanvas_meu .offcanvas-body .social-icon-bg  i{
      color: #fff !important;
    }
    .offcanvas_meu .offcanvas-body  .social-icons {
      margin-bottom: 30px;
    }
    .offcanvas_meu .offcanvas-body .icon_box .contact-marquee-wrapper .contact-marquee-info .marquee-font {
      flex-direction: column;
      word-break: break-word;
      color: #fff;
      font-size: 14px;
      max-width: 250px;
      display: flex;
      gap: 10px;
      align-items: center;
      margin: auto;
      justify-content: center;
      flex-wrap: wrap;
      white-space: break-spaces;
      text-align: center;
    }
    .offcanvas_meu .offcanvas-body .icon_box .contact-marquee-wrapper .contact-marquee-info .marquee-font i {
      font-size: 22px;
      color: #46BAC2;
      margin: 0;
    }
    .offcanvas_meu .offcanvas-body .icon_box .py-2.d-none.d-lg-block {
      display: block !important;
    }
  }



  @media(max-width:1100px) and (min-width:992px){
    .logo {
      width: 129px;
      margin-right: 0;
    }
  }

  @media(max-width:700px){
    .sicky_container.container {
      padding: 0;
      margin: 0;
      max-width: 100% !important;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }

    .sicky_container.container .healthcare-navbar{
      background-color: #ffffff85;
  transition: all .5s ease;
    }
    .sicky_container.container .healthcare-navbar {
      margin-top: 0 !important;
    }
    .bg_transparent.sicky_container.container .healthcare-navbar {
      border-radius: 25px;
      min-height: 94px;
    }
  }

  @media(max-width:600px){

  }
  .menu-items .nav-link.active::after {
    width: 100%;
    border-bottom-color: var(--primary-color) !important;
  }