@use "sass:math";
.indicator {
  position: absolute;
  top: var(--pos-y);
  left: var(--pos-x);
  height: var(--height-set);
  width: var(--width-set);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

:root {
  --theme-color: #09675c;
  --gr-color2: #f3f3ff;
  --title-color: #f3f3ff;
  --body-color: #f3f3ff;
  
  --black-color: #000000;
  --black-color2: #121217;
 
  --white-color: #ffffff;
  --body-bg: #e1e4e5;
  --light-color: #f3f3ff;

}
.mainexp{
margin-left: 100px;
margin-right: 100px;
}

.why-feature {
  border-radius: 24px;
  padding: 24px;
  position: relative;
  z-index: 2;
  margin-bottom: 24px;
  background-color: var(--light-color);
}

.why-feature:after {
  content: url('data:image/svg+xml,<svg width="93" height="90" viewBox="0 0 93 90" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.9487 30.5588C24.254 51.3254 41.1756 68 61.9445 68H68.9993C81.5806 68 91.9008 77.6809 92.9171 90H93V0H0C13.0484 0.0801305 23.6549 10.5815 23.847 23.6471L23.9487 30.5588Z" fill="white"/></svg>');
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 2;
display: none;
}

.why-feature.new_feature .box-number {
  position: absolute;
  top: 7px;
  right: -3px;
  background-color: var(--title-color);
  color: var(--white-color);
  font-size: 20px;
  font-weight: 600;
  font-family: var(--title-font);
  width: 45px;
  height: 45px;
  line-height: 0;
  text-align: center;
  border-radius: 99px;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff !important;
}
.count {
  color: #004457 !important;
}

 .box-icon {
  margin-bottom: 24px;
  margin-right: 50%;
  
}
.why-feature.new_feature {
  margin-bottom: 8px;
  padding: 0 25px !important;
}
.divider {
  height: 1px;
  background-color: #0f0f0f;
}
.count {
  color: var(--secondary-color);
  font-family: Koh Santepheap;
  font-size: 32px;
  font-weight: 700;
  line-height: 40.63px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
/* .why-feature:hover .box-icon img {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
} */
 .card-image{
    align-items: center;
 }
 .card-title{
    color: var(--secondary-color);
font-family: Koh Santepheap;
font-size: 32px;
font-weight: 700;
line-height: 40.63px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

 }
 .card-text{
font-family: Lato;
font-size: 20px;
font-weight: 600;
line-height: 24.28px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

 }
 .card-description{
    
font-family: Lato;
font-size: 14px;
font-weight: 500;
line-height: 20px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

 }
.card-image{
    margin-left: 60%;
}


.bg_image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 290px;
  z-index: -1;
  height: 100%;
}

.why-feature .card-text {
  margin-bottom: 15px !important;
}

.new_feature .card-description {
  font-size: 14px !important;
  color: #000 !important;
  width: 151px;
  margin: auto;
    margin-bottom: auto;
}
.new_feature .box-icon {
  padding: 22px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
} 
.new_feature .box-icon .card-image {
  margin: 0 !important;
}
.new_feature .divider.mb-3.w-100.mx-4 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.container.mainexp {
  margin-top: 86px !important;
  margin-bottom: 110px !important;
}

@media(max-width:700px){
  .why-feature.new_feature .box-number {
    top: -3px;
    right: -2px;
  }
}