
.healthcare-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
 
  .section-container {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  
  .image-container {
    flex: 1;
    position: relative;
  }
  
  .shield-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
  }
  
  .shield-image:hover {
    transform: scale(0.9);
    border-radius: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
 
  .content-container {
    flex: 1;
    padding: 20px;
  }
  
  
  .main-heading {
    color: var(--secondary-color);
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 1.2;
  }
  
  /* Description */
  .description {
    color: #333;
    margin-bottom: 20px;
    line-height: 1.2;
  }
  
  /* Services List */
  .services-list {
    list-style: none;
    padding: 0;
  }
  
  .services-list li {
    margin-bottom: 8px;
    padding-left: 30px;
    position: relative;
    font-size: 16px;
    color: #333;
  }
  
  
  .checkmark-icon {
    position: absolute;
    left: 0;
    top: 2px;
    width: 18px;
    height: 18px;
    /* background-image: url("./image/homesection/group18.png"); */
    background-size: contain;
    background-repeat: no-repeat;
  }
  .about-us-butn{
  
    border-radius: 100px;
    border: 0;
    color: #004457;
    font-size: 18px;
    line-height: 16px;
    font-weight: 400;
    transition: all 1s ease;
    
  }
  .section-title{
    color: #004457;
    margin-left: 40%;
  }
  .hippa-list {
    list-style: none;
    padding: 0;
}

.hippa-list li {
    display: flex;
    align-items: flex-start;
    
    padding: 10px;
    margin-bottom: 5px;
}

.hippa-list li span {
    flex-shrink: 0;
    margin-right: 15px;
}

.hippa-list li img {
    width: 40px;
    height: 40px;
}

.hippa-list li b {
    display: block;
    margin-bottom: 5px;
    color: #333;
}