body {
  background-color: #f3f3ff !important;
  
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   */

  
}

*{
  font-family: "Lato", serif
}
@media (max-width: 787px) {
  body {
    margin-left: 0;
    margin-right: 0;
  }
}
:root {
  --bg-color: #f3f3ff;
  --bg-secondar-color:#004457;
  --primary-color: #ab0000;
  --secondary-color: #136790;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.container{
  max-width: 1120px !important;
}

.header_containter,.sicky_container{
  max-width: 1340px !important;
  margin: auto !important; 
  
}

@media(min-width:1400px){
  .container{
    padding: 0;
  }
}


@media(max-width:1400px){
  .container,.header_containter,.sicky_container{
    max-width: 95% !important;
  }
}


/* for common btn */
.make_appoint_btn{
  overflow: hidden;
}
.make_appoint_btn i {
  animation : goDown45 .8s linear;
  rotate: 45deg;
  /* position: absolute; */
  transition: all .5s ease;
  right: 14px;
  font-size: 15px !important;
  
}


.make_appoint_btn:hover i {
animation: goUp45 .8s linear;
}
/* for common btn */

/* for arrow to go up 45deg */

@keyframes goUp45 {
  0%{
    transform: translate(0, 0px);
    opacity: 1;
    color: #fff;

  }25%{
    transform: translate(0, -30px);
    opacity:0;
    color: #000;

  }50%{
    transform: translate(0, 0px);
    opacity: 0;
    color: #fff;
  }
  75%{
    transform: translate(0, 30px);
    opacity: 0;
    color: #fff;
  }
  100%{
    transform: translate(0, 0px);
    opacity: 1;
    color: #000;
  }
}


@keyframes goDown45 {
  0%{
    transform: translate(0, 0px);
    opacity: 1;
    color: #000;

  }25%{
    transform: translate(0, -30px);
    opacity: 0;
    color: #000;

  }50%{
    transform: translate(0, 0px);
    opacity: 0;
    color: #fff;
  }
  75%{
    transform: translate(0, 30px);
    opacity: 0;
    color: #fff;
  }
  100%{
    transform: translate(0, 0px);
    opacity: 1;
    color: #fff;
  }
}

/* for cut piece*/
.cutPieceRight {
  position: relative;
}
.cutPieceRight::after{
  content: url("../public/image/right_side_cut.svg");
  top: -1px;
  display: block;
  right: 0;
  width: 105px;
  position: absolute;
  z-index: 1;
  transition: all .5s ease;
}

.service_cutPiece_bottom .card::after{
  
  content: url("../public/image/service_right_bottom_cut.svg");
  bottom: -7px;
  display: block;
  right: -1px;
  width: 85px;
  position: absolute;
  z-index: 1;
  transition: all .5s ease;
}
.service_cutPiece_bottom{
  position: relative;
}

.bottomReverse_cutPiece::after {
  transform: scaleX(-1);
  rotate: 180deg;
  top: unset !important;
  bottom: 0 !important;
  content: url("../public/image/right_side_cut.svg") !important;
  display: block;
  right: 0 !important;
  width: 105px !important;
  position: absolute;
  z-index: 1;
  transition: all .5s ease;
}
/* for cut piece */
