@media(max-width:767px){
    .google_map_box {
        border-radius: 0 0 30px 30px;
        background: #004457;
        padding: 49px 20px;
          padding-top: 49px;
        padding-top: 0 !important;
      }
      .google_map_container {
        border-radius: 30px !important;
      }
}
.google_map_box {
  height: 480px;
  border-radius: 55px;
  overflow: hidden;
  margin-bottom: 80px !important;
}