.hero-container {
  width: 100%;
  max-width: 100%;
  height: 90vh;
  margin: 0 auto;
  position: relative;
  /* margin-left: 100px; */
  /* margin-right: 100px; */
  min-height: 880px;
}

.hero-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.hero-image {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 40px;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-image::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(90deg, #00445761 0%, #004457e8 100%);
  height: 100%;
  z-index: 1;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  color: white;
  z-index: 2;
}

.hero-content h1 {
  font-size: 60px;
  line-height: 75px;
  width: 100%;
  margin-top: 3vw;
  text-transform: capitalize;
}

.hero-content p {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
  width: 51%;
}

.hero-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: 36px;
  gap: 0;
  gap: 17px;
}

/* Animations */
.animate__animated {
  animation-duration: 2s;
}

.animate__fadeInRight {
  animation-name: fadeInRight;
}

.animate__fadeInUpBig {
  animation-duration: 2s;
  animation-delay: 0.2s;
}

.animate__pulse {
  animation-duration: 1.5s;
  animation-delay: 0.3s;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.crausal_lorem {
  padding: 9px !important;
}



@media (max-width: 767px) {
  .hero-container {
    margin: 0 !important;
    width: 100%;
    max-width: 100%;
    padding: 0 !important;
    min-height: 430px;
  }

  .hero-content h1 {
    font-size: 48px !important;
    margin-top: 5vh !important;
  }

  .hero-content p {
    font-size: 20px !important;
  }

  .hero-footer {
    margin-top: 7vh !important;
  }

  .hero-image {
    border-radius: 20px;
  }
.hero-content {
    position: absolute;
    top: 55%;
    left: 16px;
  }
.crausal_lorem {
    padding: 9px !important;
    display: inline-block !important;
    margin-bottom: 0 !important;
  }
  .hero-content h1 {
    font-size: 40px !important;
    margin-top: 10px !important;
    width: 100% !important;
    line-height: 66px !important;
  }
  .carousel-footer {
    margin-top: 0 !important;
    flex-direction: column-reverse;
    align-items: flex-start !important;
  }
  .hero-content p {
    width: 100%;
    font-size: 18px !important;
  }
}