.carousel-container {
    width: 100%;
    max-width: 86vw;
    height: 90vh;
    margin: 0 auto;
    position: relative;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .carousel-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
  }
  
  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.8s ease-in-out;
    z-index: -1;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
  
  .carousel-image.active {
    opacity: 1;
    z-index: 1;
  }
  
  .carousel-control {
    background: white;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    z-index: 2;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

  .carousel-control:focus {
    outline: none;
  }
  
  @media(max-width:767px){
    .carousel-container {
      margin: 0 !important;
      width: 100%;
      max-width: 100%;
      padding: 0 !important;
    }
    .carousel-container.py-3{
    padding-top:0 !important ;
    padding-bottom: 0 !important;
    }
    
    .carousel-wrapper::after,.carousel-image {
     
      border-radius: 20px;
    }
  }