.about-us-title {
    font-size: 30px;
    font-weight: bold;
    color: #004466;
}
@use "sass:math";
.indicator {
  position: absolute;
  top: var(--pos-y);
  left: var(--pos-x);
  height: var(--height-set);
  width: var(--width-set);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

:root {
  --theme-color: #09675c;
  --gr-color2: #f3f3ff;
  --title-color: #f3f3ff;
  --body-color: #f3f3ff;
  
  --black-color: #000000;
  --black-color2: #121217;
 
  --white-color: #ffffff;
  --body-bg: #e1e4e5;
  --light-color: #f3f3ff;

}
.mainexp{
margin-left: 100px;
margin-right: 100px;
}

.why-feature {
  border-radius: 24px;
  padding: 24px;
  position: relative;
  z-index: 2;
  margin-bottom: 24px;
  background-color: var(--light-color);
}

.why-feature:after {
  content: url('data:image/svg+xml,<svg width="93" height="90" viewBox="0 0 93 90" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.9487 30.5588C24.254 51.3254 41.1756 68 61.9445 68H68.9993C81.5806 68 91.9008 77.6809 92.9171 90H93V0H0C13.0484 0.0801305 23.6549 10.5815 23.847 23.6471L23.9487 30.5588Z" fill="white"/></svg>');
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 2;
}

.why-feature .box-number {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--title-color);
  color: var(--white-color);
  
  font-size: 24px;
  font-weight: 600;
  font-family: var(--title-font);
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 99px;
  z-index: 4;
}

 .box-icon {
  margin-bottom: 24px;
  margin-right: 50%;
  
}

.why-feature {
  margin-bottom: 8px;
}
.divider {
  height: 1px;
  background-color: #0f0f0f;
  
}
.count {
  color: var(--secondary-color);
  font-family: Koh Santepheap;
  font-size: 32px;
  font-weight: 700;
  line-height: 40.63px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
/* .why-feature:hover .box-icon img {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
} */
 .card-image{
    align-items: center;
 }
 .card-title{
    color: var(--secondary-color);
font-family: Koh Santepheap;
font-size: 32px;
font-weight: 700;
line-height: 40.63px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

 }
 .card-text{
font-family: Lato;
font-size: 20px;
font-weight: 600;
line-height: 24.28px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

 }
 .card-description{
    
font-family: Lato;
font-size: 14px;
font-weight: 500;
line-height: 20px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
 }
.card-image{
    margin-left: 70%;
    margin-top: 10%;
}


.denial-service-head{
  font-size: 20px;
  font-weight: 600;
  line-height: 24.28px;
}
.denial-service-para{
  font-size: 14px;
  line-height: 20px;
}
.blog-category-badge{
  width: 30rem;
 border: 2px solid var(--bg-secondar-color);
  color: #004457;
  background-color: white;
}
.blog-category-badge:hover{
  background-color: var(--bg-secondar-color);
  color: white;
  cursor: pointer;
}

.appoint_form_box .input:hover {
  border: 1px solid #004457;
}

.appoint_form_box textarea.input {
  height: 54px;
}
.appoint_form_box .input {
  background-color: #f3f3ff;
}

.blog-recent-divider{
  color: var(--primary-color);
}
.blog-tag{
  border: 2px solid #004457 !important;
  background-color: #f3f3ff !important;
}
.blog-tag:hover{
  border:1px solid white !important;
  background-color: #004457 !important;
  color: white !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}
.paginatee{

  margin-left: 30%;
}
.paginatee-text{
  color: black !important;

}
.paginatee-text:hover{
  background-color: #ab0000 !important;
  color: white !important;
}
.blog_page_card .lates_bog_section {
  margin: 0 !important;
}
.blog_page_card .why-feature:hover .blog-content {
  background-color: transparent;
}
.blog_page_card .why-feature .blog_imag_box img {
  height: 220px !important;
}
.blog_page_card .why-feature img.bg_img {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
}
.blog_page_card .lates_bog_section .why-feature .blog-content{
  padding-top: 43px;
}
.blog_page_card .why-feature img.bg_img {
  position: absolute;
  /* top: 33px; */
  top: 20px;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.blog_page_card .lates_bog_section .why-feature:hover {
  box-shadow: none;
}
.blog_page_card .lates_bog_section .why-feature .box-number {
  /* bottom: 0; */
  bottom: 28px;
  top: unset;
  height: 50px !important;
  width: 50px !important;
}
.blog_page_card .lates_bog_section .why-feature .box-number i {
  font-size: 20px !important;
}
.blog_page_card.service_box_deail .side_up_icon.icon_two {
  right: 0 !important;
  top: -2px !important;
}
.blog_page_card.service_box_deail .side_up_icon.icon_one {
  top: 5px !important;
}
.blog_page_card.service_box_deail .side_up_icon.icon_three {
  top: 14px !important;
}
.lates_bog_section .badge.new_blog {
  color: #fff !important;
}

.paginatee {
  margin: 0 !important;
}
.pagi_btn .page-link {
  height: 35px;
  width: 35px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination {
  gap: 18px !important;
}
.pagination .page-item .page-link {
  height: 34px;
  width: 34px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}

.pagination .page-item .page-link:hover svg path {
  fill: #fff;
}

.right_section_blog .blog-recent-head {
  font-size: 14px;
  line-height: 20px;
  color: #004457;
  font-weight: 500 !important;
}


@media(max-width:1400px){
  .lates_bog_section .why-feature {
    max-width: 400px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .blog_page_card .lates_bog_section .why-feature .box-number {
    bottom: 0;
    bottom: 7px;
  }
}

@media(max-width:1195px) and (min-width:992px){
  .blog_page_card .lates_bog_section .why-feature .box-number {
    /* bottom: 27px; */
    bottom: 8px !important;

  }

  .blog_page_card .lates_bog_section .why-feature .blog-title + p{
    padding-right: 26px;
  }
  .blog_page_card .why-feature img.bg_img {
    top: 46px;
  }
  .blog_page_card .lates_bog_section .why-feature .box-number {
    bottom: 29px;
    right: -1px;
    height: 45px !important;
    width: 45px !important;
  }
}



@media(max-width:1200px){
  .tag_cloud .blog-tag {
    width: 100%;
  }
  .blog_page_card.service_box_deail .side_up_icon.icon_three {
    top: -8px !important;
    right: 3px;
  }
}

@media(max-width:1100px){
  .blog_page_card.service_box_deail .side_up_icon.icon_one {
    top: 4px !important;
    right: -5px;
  }
  .blog_page_card.service_box_deail .side_up_icon.icon_two {
    right: -4px !important;
    top: 2px !important;
  }

}


@media(max-width:992px){
  .service_box_deail .lates_bog_section .row.mb-4 {
    margin-bottom: 0px !important;
  }
  .service_box_deail .row.mb-4 .col-lg-6 {
    margin-bottom: 36px !important;
  }
  .service_box_deail .card {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .blog_page_card.service_box_deail .side_up_icon.icon_three
 {
  top: -8px !important;
  right: 27px;
}
.blog_page_card.service_box_deail .side_up_icon.icon_two {
  top: 2px !important;
  right: 27px !important;
}
}
@media(max-width:767px){
  .blog_page_card .why-feature img.bg_img {
    position: absolute;
    /* top: 66px; */
  }
  .blog_page_card.service_box_deail .col-lg-6{ 
    padding: 0 !important;
    margin-bottom: 22px;
  }
  .blog_page_card .lates_bog_section .why-feature .box-number {
    bottom: 7px;
    right: -7px;
  }
  .blog_page_card.service_box_deail .side_up_icon.icon_one {
    top: 4px !important;
    right: 8px;
  }

  .blog_page_card {
    margin-top: 95px !important;
  }
  .blog_page_card .badge {
    margin: auto !important;
    display: block;
    width: fit-content;
  }
.blog_page_card .about-title {
  text-align: center;
  font-size: 28px;
}  
.blog_page_card .description {
  text-align: center;
}
.right_section_blog {
  margin-top: 80px !important;
  margin-bottom: 80px;
}
.right_section_blog .card-header h5 {
  margin-bottom: 20px !important;
}
.service_box_deail .why-feature::before{
  display: none;
}

.blog_page_card .lates_bog_section .why-feature .box-number {
  bottom: 23px !important;
  right: 0 !important;
}


}

@media(max-width:600px){
  .blog_page_card.service_box_deail .side_up_icon.icon_two {
    top: -1px !important;
    right: 20px !important;
  }
  .blog_page_card.service_box_deail .side_up_icon.icon_three {
    top: -7px !important;
    right: 21px;
  }
}

.tag_cloud .d-flex.flex-wrap.gap-3 {
  gap:
12px !important;
}
.why-feature.bottomReverse_cutPiece .bg_img {
  display: none;
}

.why-feature.bottomReverse_cutPiece{
  position: relative;
}


.why-feature.bottomReverse_cutPiece {
  background: #fff !important;
}
.why-feature.bottomReverse_cutPiece::after {
  display: block;
  right: -3px !important;
  position: absolute;
  width: 87px !important;
}
.why-feature.bottomReverse_cutPiece .blog-title + p {
  margin-bottom: 18px !important;
}
.why-feature.bottomReverse_cutPiece  .box-number{
  bottom: 0 !important;
}

@media (max-width:767px){
  .why-feature.bottomReverse_cutPiece .blog-title + p {
    margin-bottom: 0 !important;
  }
  .blog_page_card .lates_bog_section .why-feature.bottomReverse_cutPiece .box-number {
    bottom: 0px !important;
    right: 0 !important;
  }
}
.blog_page_card .why-feature:hover img.bg_img{
  filter: drop-shadow(#0000001a 0 0 5px);
}
.blog_page_card .lates_bog_section .why-feature .box-number {
  bottom: 0;
  bottom: 4px;
  top: unset;
  height: 50px !important;
  width: 50px !important;
}

.right_section_blog .card.cutPieceRight {
  background: #fff !important;
}
.right_section_blog .card.cutPieceRight .bg_image_detail {
  display: none !important;
}
.right_section_blog .card.cutPieceRight .side_up_icon.icon_one {
  top: 0 !important;
  z-index: 2;
  right: 0;
  transition: all .5s ease;
}
.right_section_blog .card.cutPieceRight::after{
  width: 72px !important;
  top: 0;
  transition: all .5s ease;
}

.right_section_blog .card.cutPieceRight:hover::after {
  width: 85px !important;
}
.right_section_blog .card.cutPieceRight:hover .side_up_icon.icon_one {
  height: 50px !important;
  width: 50px !important;
  background: #ab0000;
}
.right_section_blog .card.cutPieceRight .side_up_icon.icon_one svg{
  transition: all .5s ease;
}
.right_section_blog .card.cutPieceRight:hover .side_up_icon.icon_one svg path {
  fill: #fff;
}
.right_section_blog .card.cutPieceRight:hover .side_up_icon.icon_one svg {
  height: 40px;
  width: 40px;
  animation: bounceRotate 1s ease;
  animation-play-state: running;
  transform: rotate(216deg);
}


@keyframes bounceRotate {
  0%{
    transform: rotate(0deg);
  }25%{
    transform: rotate(310deg);
  }
  50%{
    transform: rotate(170deg);
  }
  75%{
    transform: rotate(265deg);
  }
  100%{
    transform: rotate(216deg);
  }
}

.right_section_blog .card.cutPieceRight:hover {
  background: #fff !important;
  box-shadow: #0000005e 0 30px 26px -23px !important;
}
.right_section_blog .card.cutPieceRight:hover::before {
  content: "";
  bottom: 0;
  height: calc(100% - 91px);
  background: #00000017;
  width: 100%;
  position: absolute;
  border-radius: 0 0 24px 24px;
  left: -2px;
  right: -2px;
  z-index: -1;
  filter: blur(10px);
  rotate: 0deg;
  transform: rotate(0deg);
  top: unset;
}

.blog_page_card .lates_bog_section .why-feature .box-number.text-dark  i {
  animation : goDown45 .6s linear;
  color: #000 !important;

}
.blog_page_card .lates_bog_section .why-feature:hover .box-number.text-dark i {
  animation: goUp45 .6s linear;
  color: #fff !important;
}
.right_section_blog .card.cutPieceRight img {
  border-radius: 20px !important;
  max-height: 137px;
  object-fit: cover;
}